* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(img/paisaje-cartoon.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 350px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 20px #0004;
    border-radius: 7px;
    text-align: center;
    padding: 30px 35px 0 35px;
}

.container header {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.container .form-princ {
    width: 100%;
    overflow: hidden;
}

.form-princ form {
    display: flex;
    width: 400%;
}

.form-princ form .pagina {
    width: 25%;
    transition: margin-left 0.4s ease-in-out; /*que la transision tenga un inicio y final lento*/
}

.form-princ .titulo h2{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
}

.form-princ .pagina .campo {
    height: 35px;
    width: 350px;
    margin: 40px 0;
    display: flex;
    position: relative;
}

.form-princ .pagina .label {
    position: absolute;
    top: -25px;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    float: left;
    text-align: left;
    width: 100%;
}

.form-princ .pagina input {
    width: 100%;
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
}

.form-princ .pagina select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
} 

.form-princ .pagina button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background-color: #06122f; 
    color: #fff;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-princ .pagina button:hover {
    background-color: #a8234a; 
    opacity: .7;
}

.form-princ .pagina .btns button {
    margin-top: -20px;
}

.form-princ .pagina .btns button.volver {
    margin-right: 3px;
    font-size: 17px;
}

.form-princ .pagina .btns button.adelante {
    margin-left: 3px;
}

/*---BARRA PROGRESS---*/

.container .progress-bar {
    display: flex;
    margin: 30px 0;
}

.container .progress-bar .paso {
    text-align: center;
    width: 100%;
    position: relative;
    cursor: default;
}

.progress-bar .paso  p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 8px;
    transition: 0.3s;
}

.progress-bar p.active {
    color: #a8234a;
}

.progress-bar .paso .num {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    transition: 0.3s;
}

.progress-bar .paso .num.active{
    border-color: #a8234a;
    background-color: #a8234a88;
}

.progress-bar .paso .num span {
    font-weight: 500px;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .paso .num.active span {
    display: none;
}

.progress-bar .paso .check {
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
}

.progress-bar .paso .check.active {
    display: block;
    color: #fff;
}

.progress-bar .paso .num:before,
.progress-bar .paso .num:after{
    position: absolute;
    content: '';
    width: 44px;
    height: 3px;
    bottom: 11px;
    right: -53px;
    background: #000;
    
}

.progress-bar .paso:last-child .num:before,
.progress-bar .paso:last-child .num:after {
    display: none;
}

.progress-bar .paso .num.active::after {
    background-color: #a8234a; 
    animation: mov_Linea 0.3s linear forwards;
    transform: scalex(0);
    transform-origin: left;
}

@keyframes mov_Linea {
    100%{
        transform: scalex(1);
    }
}

/*estilos para mostrar la contraseña*/

.ojito {
    position: absolute;
    top:29%;
    right: 7px;
    font-size: 20px;
    color: #06122f;
}

#Ocultar {
    display: none;
}

#Ocultar, #Mostrar {
    cursor: pointer;
}

/*estilos para mostrar mensaje de error*/
 
 .error {
    color: #a8234a;
    float: right;
    text-align: right;
    font-weight: 400;
 }